.recipe-container h1 {
  color: white;
  font-size: 60px;
  margin-left: 160px;
  margin-top: 200px;
  position: absolute;
}

.recipe-container img {
  margin-bottom: 15px;
}

.details-container {
  margin-left: 15px;
}

.ingredients-container {
  border: 1px solid rgba(0, 0, 0, 0.431);
  border-radius: 5px;
  font-weight: 300;
  margin-left: 20px;
  padding: 15px 60px;
  width: 90%;
}

.ingredients-container li {
  font-size: 18px;
}

.instructions {
  border: 1px solid rgba(0, 0, 0, 0.431);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 300;
  margin-left: 20px;
  margin-top: 20px;
  padding: 15px;
  width: 90%;
}

.video {
  text-align: center;
}

