a {
  text-decoration: none;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.categoryButton{
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.recipe-body {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px
}

.recipes-itens {
  display: flex;
  flex-direction: row;
  width: 318px;
  height: 135px;
  border: 1px solid rgb(179, 179, 179);
}

.recipe-image {
  width: 159px;
  height: 135px;
}

.rec-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 159px;
  height: 135px;
  justify-content: space-evenly;
}

.rec-description h2 {
  font-size: 12px;
  color: black;
}

.rec-description h4 {
  font-size: 10px;
  color: #797D86;
}

.categoryButtonShare {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  width: 23px;
}

.done-date {
  font-size: 12px;
}

.tag-container {
  display: flex;
  gap: 8px;
}

.tag-value {
  font-size: 10px;
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: 0px 7px;
}
