header {
  align-items: center;
  background-color: #f8f6f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 60px;
  justify-content: space-around;
  top: 0;
  width: 100%;
}

header img {
  margin: 0 10px;
}

header button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

input {
  width: 100px;
}
